*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
:root{
    --whitesmoke:whitesmoke;
    --white:white;
    --black:black;
    --yellow:#FFC54D;
    --green:#53BF9D;
    --red:crimson;
    --gradiant:linear-gradient(to right,rgb(0, 0, 0),rgb(53, 51, 51));
    --gradiant1:linear-gradient(to right,rgb(105, 104, 104),rgb(53, 51, 51));
}
body{
    min-width: 600px;
    max-width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Open sans", sans-serif;
    color: var(--black);
    background:var(--whitesmoke);
    overflow-x:hidden ;
    overflow-y: hidden;
}
#clogo{
    padding: 0px;
    margin: 0px;
    background: url(Image/company\ logo.png);
    position: relative;
    background-size: cover;
    background-position: center;
    height: 10vh;
    width: 10vw;
    float:left;
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid var(--whitesmoke);
    border-radius: 100%;
    box-shadow: var(--white) 10px 10px 20px;
}
.logo{
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    font-size: 20px;
    font-weight: bolder;
    background: var(--gradiant);
    display: flex;
}
.header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
#res{
    text-align: right;
    font-size: 25px;
    flex:1;
    padding-right: 50px;
    padding-top: 20px;
}
#companyname{
    flex:1;
    font-size: 6vw;
    padding-top: 10px;
    padding-left: 20px;
}
/* COVD name animation */
#companyname{
    background:linear-gradient(to right,rgb(35, 212, 53),#e20d0d 90%,#ffffff);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: Gradiant 3s linear infinite;
}
@keyframes Gradiant{
    0%{
        background-position: 0% 75%;
    }50%{
        background-position: 100% 50%;
    }100%{
        background-position: 0% 70%;
    }
}


/* desktop screen size */
@media screen and (min-width:830px) {
    .logo{
        width: 100%;
        padding-right: 50px;
        
    }
    
} 

/* mobile screen size */
 @media screen and (max-width:830px) {
    #companyname{
        margin-left: 20px;
        margin-top: -20px;
        font-weight: bolder;
        font-size: 10vw;
        
    }
    .logo{
        width: 100%;
    }
} 











.main{
    width: 100%;
    height: 84.5vh;
    background-color: var(--whitesmoke);
    /* display: grid;*/
    /* justify-items: center;  */
    margin-top: 0px;
    padding-top: 0px;
    background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(Image/admindashback1.jpg);
    background-size: cover;
    background-position: center;
}
.img{
    border: 2px solid black;
    width: 30vw;
    height: 30vh;
    margin-left: 35vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: 5px 5px 25px var(--white);
}
.welcome{
    color: var(--black);
    font-size: 3vw;
    font-weight: bolder;
    text-align: center;
    padding: 30px;
}
.text{
    text-align: center;
    font-size: 1.5vw;
    padding: 30px;
    flex: 1;
    margin-top: 30px;
    color: var(--white);
    text-shadow: 5px 5px 5px var(--black);
    font-weight: bold;
    text-align: justify;
}
#historyheading{
    text-align: center;
}
.topic{
    display: flex;
    flex-wrap: wrap;
}
.img video{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Welcome animation heading */
.welcome{
    background:linear-gradient(to right,rgb(255, 0, 251),#fbff00 90%,#ffffff);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: Gradiant 3s linear infinite;
    filter: drop-shadow(10px 50px 50px black);
    
}
@keyframes Gradiant{
    0%{
        background-position: 0% 75%;
    }50%{
        background-position: 100% 50%;
    }100%{
        background-position: 0% 70%;
    }
}

/* Media queries for mobile devices */
@media screen and (max-width: 767px) {
    #clogo {
        height: 6vh;
        width: 10vw;
        margin-top: 10px;
    }
    #companyname {
        font-size: 6vw;
        padding-top: 0px;
        margin-left: 0px;
        margin-top: 15px;
    }
    #res {
        font-size: 15px;
        padding-right: 20px;
        padding-top: 10px;
        text-align: right;
        margin-right: 150px;
    }
    .welcome {
        font-size: 4.5vw;
        padding: 10px;
        margin-right: 80px;
    }
    .text {
        font-size: 2vw;
        padding: 20px;
        text-align: justify;
        margin-right: 20px;
        padding-right: 100px;
    }
    .img {
        width: 70vw;
        height: 30vh;
        margin-left: 10vw;
    }
    .main{
        height: 100vh;
    }
}